<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-herader">
            <a href="" class="navbar-brand"></a>
        </div>
        <div class="">
            <ul class="navbar-nav nav">
                <li><a href="/">首页</a></li>
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/signin">登录</a></li>
                <li><a href="/user/signout">登出</a></li>
                <li><a href="/article/add">添加文章</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">